body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("https://img0.baidu.com/it/u=1100619909,3783343128&fm=26&fmt=auto");
    background-size: 100% 100%;
}

* {
    outline: none;
}

p {
    /* display: inherit; */
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.login {
    position: absolute;
    width: 400px;
    height: 300px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: white;
    text-align: center;
    border-radius: 5%;
    padding: 0px 10px;
}

.login-line {
    width: 300px;
    display: inline-flex;
    margin-bottom: 20px;
}

.login-line p {
    width: 30%;
    line-height: 1.5rem;
}

.login-line input {
    width: 68%;
    height: 1.5rem;
    line-height: 1.5rem;
    border: 1px solid #cccccc;
    outline: none;
}

.login-line button {
    width: 100%;
    height: 2.5rem;
    background-color: #007acc;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 30px;
    outline: none;
}

.loginShow {
    animation: appearAnimation 1s forwards;
}

@keyframes appearAnimation {
    from {
        opacity: 0;
        top: -100px;
        /*距离元素最终位置的距离,不是绝对定位中的坐标系*/
    }
    to {
        opacity: 1;
        top: 0;
    }
}

* {
    outline: none;
}

.wrap {
    display: flex;
    height: 100%;
    background-color: white;
}

.left {
    background-color: #252526;
    width: 100px;
}

.friends-item {
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    /* border-bottom: 1px solid #cccccc; */
}

.friends-item:hover {
    color: #007acc;
}

.right {
    flex: 1;
    /*伸缩比，等于1填充剩下的所有区域*/
    display: flex;
    flex-direction: column;
    /*竖向排列*/
}

.right-user {
    font-weight: 500;
    font-size: 20px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.msg-wrap {
    overflow: auto;
    /*当元素高度高于视口高度时才会出现滚动条*/
    flex: 1;
    background-color: #faf9f9;
}

.msg-wrap::-webkit-scrollbar {
    display: none;
}

.msg-wrap-item {
    display: flex;
    flex-direction: column;
}

.msg-list {
    display: flex;
    flex: 1;
    padding: 10px;
    margin-bottom: 10px;
}

.msg-list img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.friends-name {
    margin-left: 15px;
    margin-bottom: 5px;
    color: gray;
    font-weight: 300;
}

.other-context {
    background-color: white;
    /* height: 40px; */
    line-height: 40px;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px;
}

.msg-list-right {
    flex-direction: row-reverse;
}

.my-name {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 15px;
    margin-bottom: 5px;
    color: gray;
    font-weight: 300;
}

.my-context {
    background-color: #007acc;
    flex-direction: row-reverse;
    line-height: 40px;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px;
    color: white;
    margin-right: 10px;
}

.history-msg {
    text-align: center;
    font-size: 10px;
    color: #007acc;
    line-height: 30px;
}

.input-wrap {
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.input {
    flex: 1;
    height: 1.5rem;
    border: 1px solid #cccccc;
}

button {
    background-color: #007acc;
    width: 50px;
    height: 1.5rem;
    border: none;
    color: white;
    margin-left: 10px;
}

.right-user {
    text-align: center;
}

h3 {
    color: white;
    text-align: center;
}

.chartShow {
    animation: appearAnimation 1.5s forwards;
}

@keyframes appearAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}